<!DOCTYPE html>
 <html> 
    <head>
        <title>ASP Identity 'Users'</title> 
        <meta name="viewport" content="width=device-width" />
        <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" /> 
        @RenderSection("scripts", required: false)
    </head>
     <body class="m-1 p-1">
            @RenderBody() 
    </body>
</html>